.centre-part{
  margin-top: 30px;
}
.story{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.story-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-profile-name{
  padding-top: 5px;
  font-size: 12px;
  display: inline-block;
  width: 66px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  cursor: pointer;
}
.story-section{
  width: 60px;
  height: 60px;
  border-top-color: rgb(252, 1, 176);
  border-right-color: rgb(252, 1, 176);
  border-left-color: orange;
  border-bottom-color: orange;
  border-radius: 35px;
  border-style: solid;
  cursor: pointer;
}
.story-pic{
  width: 56px;
  height: 56px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
.insta-feed{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  
}
.post-head{
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-bottom: 9px;
}
.post{
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color:gray;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.post-profile-image{
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
}
.profile-name{
  margin-left: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 3px;
}
.post-name-section{
  display: flex;
  width: 410px;
}
.verified-icon{
  width: 17px;
  height: 15px;
  padding-top: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.more-post{
  font-weight: bold;
  padding-right: 5px;
  cursor: pointer;
}
.post-image{
  border-radius: 4px;
}
.post-dot{
  margin-right: 3px;
  font-weight: bold;
  color: gray;
}
.time-post{
  color: gray;
  font-size: 14px;
}
.like-comment-share-save,
.like-comment-share{
  display: flex;
  margin-top: 3px;
  margin-left: 1px;
}
.like-comment-share{
  width: 440px;
}
.like,
.comment,
.share{
  margin-right: 10px;
}
.lcss{
  width: 25px;
  cursor: pointer;
}
.post-like-section{
  display: flex;
  margin-top: 10px;
  margin-left: 3px;
}
.like-image-box{
  display: flex;
}
.like-image1,
.like-image2,
.like-image3{
  width: 15px;
  border-radius: 10px;
  margin-right: -5px;
  cursor: pointer;
}
.likes-for-post{
  font-size: 14px;
  margin-left: 10px;
}
.friend-profile{
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.post-descryption{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.post-describe{
  font-size: 13px;
  width: 470px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.channel-post-name-descryption{
  font-weight: bold;
  cursor: pointer;
}
.more-post-descryption{
  font-size: 13px;
  color: gray;
  cursor: pointer;
}
.comments-view,
.comment-add{
  margin-top: 7px;
  font-size: 13px;
  color: gray;
}
.comment-add-section{
  display: flex;
  justify-content: space-between;
}
.emoji{
  width: 10px;
  cursor: pointer;
}